* {
  margin: 0;
  padding: 0;
}

#app {
  font-weight: normal;
}

.app-body {
  display: flex;
  justify-content: space-between;
}

.left-menu {
  padding-top: 10px;
  height: 100vh;
}

.main-content-container {
  width: 100%;
  min-height: 100vh;
}

main.main-content {
  display: flex;
  justify-content: center;
}

.page-container {
  width: 100%;
  min-width: 800px;
  max-width: 1280px;
}